.container{
    text-align: center;
    margin: 10px auto 10px auto;
    padding: 10px;
    font-size: medium;
    color: gray;
    background: #f4f4f4;
}

.array{
    text-align: left;
}
button{
    background-color: #8D7471;
    color: white;
    margin-right: 5px;
    margin-top: 5px;
    font-size: small;
}


