header{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

div{
    display: flex;
    align-items: center;
}

button{
    background-color: rgb(236, 70, 98);
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    height: 45px;
}