div{
    text-align: center;
    margin: 10px auto 10px auto;
    max-width: 500px;
    padding: 10px;
}

button{
    background-color: rgb(236, 70, 98);
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    height: 45px;
}